* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* color: #ffffff; */
  font-family: "Poppins", sans-serif;
}

#imgHeader {
  width: 100%;
  height: auto;
}

#menu {
  position: absolute;

  left: 4%;
  top: 2%;
  width: 40px;
  height: 40px;

  z-index: 1;
}

#name {
  position: absolute;
  left: 4em;
  top: 5em;
  width: 225px;
  height: 25px;

  font-style: normal;
  font-weight: 900;
  font-size: 0.8em;
  line-height: 48px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  color: #2f327d;
}

#ferias {
  color: #f096b1;
}

#descHeader {
  position: absolute;
  left: 4em;
  top: 5em;
  width: 225px;
  height: 210px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;

  display: flex;
  align-items: center;
  text-align: center;
}
