* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;

  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Cores para span(letras coloridas) */

.pink {
  color: #f096b1;
}

.blue {
  color: #75a8af;
}

.blue2 {
  color: #6fbbbd;
}

.blue3 {
  color: #2f327d;
}

.yellow {
  color: #f6d46f;
}

.green {
  color: #979b4b;
}

/* Header */

header {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  height: 660px;

  padding: 16px;

  background: #fdf6e2;
  overflow: hidden;

  clip-path: circle(150% at 50% -22%);
}

@media only screen and (min-width: 360px) {
  header {
    clip-path: circle(150% at 50% -28%);
  }
}

#backgroundHeader {
  position: absolute;
  z-index: 0;
  width: 130%;
  bottom: 0px;

  transition: 0.5s;
}

/* Ajustes da foto para diferentes tamanhos de tela */

@media only screen and (min-width: 440px) {
  #backgroundHeader {
    width: 100%;
    top: 290px;
  }

  header {
    clip-path: circle(150% at 50% -48%);
  }
}

@media only screen and (min-width: 440px) and (max-width: 550px) {
  header {
    clip-path: circle(150% at 50% -40%);
  }
}

@media only screen and (min-width: 640px) {
  #backgroundHeader {
    width: 80%;
  }

  header {
    clip-path: circle(150% at 50% -66%);
  }
}

/* Menu sanduíche > Header */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;

  padding: 12px 6px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 32px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6fbbbd;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .nav-logo {
    display: none;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    padding: 32px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;

    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

    z-index: 2;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 16px 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;

    z-index: 3;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Conteúdo Principal > Header */

#content {
  z-index: 1;
}

#colonia {
  margin-top: 8px;
  margin-bottom: 12px;
}

#descriptionHeader {
  margin-bottom: 24px;
  padding: 0 26px;

  font-size: 14px;
}

button {
  outline: none;
  border: none;

  cursor: pointer;

  transition: 200ms ease-in-out;
}

#buttonHeader {
  width: 220px;
  height: 48px;

  font-size: 16px;
  font-weight: bold;

  background: #75a8af;
  border-radius: 80px;

  color: #fff;
}

button:hover {
  transform: scale(1.05);
}

/* Imagens Flutuantes > Header */

#agulhaHeader {
  position: absolute;

  width: 48px;
  height: 124px;
  right: -8px;
  top: -8px;

  background: url(agulha.png);
  transform: rotate(-52deg);
}

#carretelHeader {
  position: absolute;

  width: 48px;
  height: 76px;
  left: -6px;
  top: 322px;

  background: url(carretelM.png);
  transform: rotate(12deg);

  z-index: 1;
}

@media only screen and (min-width: 545px) {
  #agulhaHeader {
    width: 86px;
    height: 174px;

    transition: 0.5s;
  }

  #carretelHeader {
    width: 76px;
    height: 124px;

    transition: 0.5s;
  }
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  overflow: hidden;
}

#conteudos,
#beneficios,
#depoimentos,
#professoras,
#investimento,
#faq {
  position: relative;
}

.title {
  padding: 8px 24px;
  line-height: 105%;

  color: #2f327d;
}

.desc {
  padding: 22px;
  padding-bottom: 0;
  margin: 0 12px;

  color: #696984;
}

/* Section Público */

.cardSectionPub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardPub {
  width: 75%;
  height: auto;

  margin-top: 58px;
  padding-bottom: 34px;

  background: #ffffff;
  box-shadow: 0px 10px 14px 10px rgb(38 45 118 / 8%);
  border-radius: 20px;

  z-index: 0;
}

.iconCardPub {
  width: 60px;
  height: 60px;

  margin-top: -26px;
}

.h3Pub {
  width: 100%;
  padding: 16px 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 105%;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #2f327d;

  z-index: 1;
}

.pPub {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  display: flex;
  align-items: center;
  text-align: center;

  color: #696984;
  margin: 4px 18px;
}

/* Section Conteúdo */

#titleCont {
  margin-top: 48px;
}

#principalImgCont {
  width: 75%;
  height: auto;

  margin-top: 48px;
}

/* Imagens Flutuantes > Conteúdo */

#botao1Cont {
  position: absolute;

  width: 54px;
  height: 54px;
  left: -26px;
  top: -8px;

  transform: rotate(24deg);
}

#botao2Cont {
  position: absolute;

  width: 38px;
  height: 38px;
  right: -16px;
  top: 316px;

  transform: rotate(24deg);
}

#botao3Cont {
  position: absolute;

  width: 48px;
  height: 48px;
  left: -18px;
  top: 538px;

  transform: rotate(-44deg);
}

/* Section CTA */

#cta {
  background-color: #fdf6e2;
  margin: 34px 0;
}

#titleCta {
  font-weight: 900;
  font-size: 28px;
  line-height: 105%;

  color: #303270;

  margin: 26px;
  padding-top: 12px;
}

#buttonCta {
  width: 290px;
  height: 56px;

  background-color: #f096b1;
  border-radius: 80px;

  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #ffffff;

  margin-bottom: 38px;
}

/* Section Benefícios */

.imgCardsBeneficios {
  width: 80%;
  height: auto;
}

#titleBeneficios {
  padding-top: 0;
}

.subtitleBeneficios {
  margin-top: 32px;
  margin-right: 24px;
  margin-left: 24px;

  color: #2f327d;
}

.descBeneficios {
  margin: 8px 26px;
  padding-bottom: 12px;

  color: #696984;
}

/* Imagens Flutuantes > Beneficios */

#alfinetesBenef {
  position: absolute;

  width: 96px;
  height: 96px;
  left: -33px;
  top: 66px;

  transform: rotate(6deg);
}

#alfinete1Benef {
  position: absolute;

  width: 35px;
  height: 126px;
  right: -18px;
  top: 396px;

  transform: rotate(236deg);
}

#alfinete9Benef {
  position: absolute;

  width: 35px;
  height: 126px;
  bottom: 98px;
  left: -14px;

  transform: rotate(24deg);
}

#portaAlfinete2Benef {
  position: absolute;

  width: 92px;
  height: 76px;
  bottom: -64px;
  left: -14px;

  transform: rotate(14deg);

  z-index: 0;
}

/* Section Frase sobre Benefícios */

#frase {
  background-color: #c3f0f1;
  margin-top: 48px;
  margin-bottom: 26px;

  z-index: 5;
}

#titleFrase {
  font-weight: 900;
  font-size: 28px;
  line-height: 105%;

  color: #303270;

  margin: 26px;
  padding: 12px 0;
}

/* Section Depoimentos */

#depoimento {
  margin-top: 34px;

  width: 80%;
}

/* Slides depoimentos */

/* .slidesDeps {
  padding: 0;
  width: 100vw;
  height: 50vh;
  display: block;
  margin: 26px 0;
  position: relative;
}

.slidesDeps * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slidesDeps input {
  display: none;
}

.slideDep-container {
  display: block;
}

.slideDep {
  top: 0;
  opacity: 0;
  width: 100vw;
  /* height: 50vh; */
/* display: block;
  position: absolute;
  transform: scale(0);

  transition: all 0.7s ease;
}

.slideDep img {
  object-fit: cover;
  width: 80%;
  height: 300px;
  border-radius: 20px;
}

.navDep label {
  top: 20%;
  width: 50%;
  height: 60%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: rgba(255, 255, 255, 0);
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slideDep:hover + .navDep label {
  opacity: 0.5;
}

.navDep label:hover {
  opacity: 1;
}

.navDep .nextD {
  right: 0;
}

input:checked + .slideDep-container .slideDep {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease;
}

input:checked + .slideDep-container .navDep label {
  display: block;
}

.navDep-dots {
  width: 100%;
  bottom: -324px;
  height: 11px;
  padding-top: 324px;
  /* display: flex;
  position: relative;
  justify-content: center; */
/* text-align: center;
}

.navDep-dots .navD-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: #bdbdbd;
}

.navDep-dots .navD-dot:hover {
  cursor: pointer;
  background-color: #b03658;
}

input#dep-1:checked ~ .navDep-dots label#dep-dot-1,
input#dep-2:checked ~ .navDep-dots label#dep-dot-2,
input#dep-3:checked ~ .navDep-dots label#dep-dot-3,
input#dep-4:checked ~ .navDep-dots label#dep-dot-4 {
  background: #b03658;
} */

#buttonDepoimentos {
  position: relative;
  top: -36px;
  width: 290px;
  height: 56px;

  background-color: #f6d46f;
  border-radius: 80px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #ffffff;
}

/* Imagens Flutuantes > Depoimentos */

#meada2 {
  position: absolute;

  width: 72px;
  height: 56px;
  top: 76px;
  left: -36px;

  transform: rotate(118deg);
}

#botoesDep {
  position: absolute;

  width: 92px;
  height: 76px;
  top: 282px;
  right: -34px;

  transform: rotate(176deg);
}

/* Section Fotos */

#fotos {
  background-color: #ffe2ea;
  padding: 26px 0;
}

#titleFotos {
  margin-bottom: 8px;
}

/* Carrossel > Fotos */

.slides {
  padding: 0;
  width: 100vw;
  /* height: 50vh; */
  display: block;
  margin: 26px 0;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 100vw;
  /* height: 50vh; */
  display: block;
  position: absolute;
  transform: scale(0);

  transition: all 0.7s ease;
}

.slide img {
  object-fit: cover;
  width: 80%;
  height: 300px;
  border-radius: 20px;
}

.nav label {
  top: 20%;
  width: 50%;
  height: 60%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: rgba(255, 255, 255, 0);
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

input:checked + .slide-container .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease;
}

input:checked + .slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: -324px;
  height: 11px;
  padding-top: 324px;
  /* display: flex;
  position: relative;
  justify-content: center; */
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: #bdbdbd;
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: #b03658;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7,
input#img-8:checked ~ .nav-dots label#img-dot-8 {
  background: #b03658;
}

/* Section Professoras */

#titleProfs {
  margin-top: 26px;
  margin-right: 18px;
  margin-left: 18px;
}

#marcalImg {
  width: 80%;

  margin-top: 14px;
}

#freitasImg {
  width: 80%;

  margin-top: 24px;
}

.descProfs {
  padding-top: 0;
  margin-bottom: 26px;
}

/* Imagens Flutuantes > Professoras */

#carretelP {
  position: absolute;

  width: 58px;
  height: 58px;
  top: -12px;
  left: -14px;
}

/* Section Investimento */

#investimento {
  width: 100vw;
  padding: 26px 36px;
  background-color: #fdf6e2;
}

#motivos {
  padding: 26px 36px;
  margin-top: 8px;
  background-color: #ffffff;
  border-radius: 20px;

  text-align: left;
}

.invest {
  font-weight: bold;
}

#investValor {
  font-size: 36px;
  line-height: 105%;
  letter-spacing: 0.02em;
}

#buttonInvest {
  width: 260px;
  height: 46px;

  font-size: 16px;
  font-weight: bold;

  background: #f096b1;
  border-radius: 80px;

  color: #fff;
}

/* Imagens Flutuantes > Professoras */

#botoesInvest {
  position: absolute;

  width: 92px;
  height: 112px;
  top: -38px;
  right: -38px;

  transform: rotate(36deg);
}

/* Section FAQ */

#titleFaq {
  margin-top: 26px;
}

.perguntas {
  background-color: #ffe2ea;
  margin: 26px;
  padding: 30px;

  border-radius: 30px;
}

/* Summary (botão sobe e desce) > FAQ */

summary {
  font-weight: 600;
  font-size: 16px;
  line-height: 105%;
  background-color: #ffe2ea;
  color: #2f327d;
  padding: 16px 0;
  padding-right: 60px;
  outline: none;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.faq__content {
  font-size: 14px;
  line-height: 150%;
  text-align: justify;
  letter-spacing: 0.02em;

  padding-top: 6px;

  color: #8989a7;
}

details > summary.q1::after {
  position: absolute;
  content: url("/imagens/imgBody/setaFaq.svg");
  right: -2px;
  top: 12px;
}

details > summary.q2::after {
  position: absolute;
  content: url("/imagens/imgBody/setaFaq.svg");
  right: -2px;
  top: 12px;
}

details > summary.q3::after {
  position: absolute;
  content: url("/imagens/imgBody/setaFaq.svg");
  right: -2px;
  top: 8px;
}

details[open] > summary.q1::after {
  position: absolute;
  content: url("/imagens/imgBody/menosFaq.svg");
  right: -2px;
  top: 12px;
}

details[open] > summary.q2::after {
  position: absolute;
  content: url("/imagens/imgBody/menosFaq.svg");
  right: -2px;
  top: 12px;
}

details[open] > summary.q3::after {
  position: absolute;
  content: url("/imagens/imgBody/menosFaq.svg");
  right: -2px;
  top: 8px;
}

details > summary::-webkit-details-marker {
  display: none;
}

/* Animação do summary */

/* details[open] summary ~ * {
  animation: sweep 0.2s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
} */

/* Imagens Flutuantes > FAQ */

#alfinetesSeg {
  position: absolute;

  width: 92px;
  height: 112px;
  top: -46px;
  left: -18px;

  transform: rotate(356deg);
}

#tesouraPrecisao {
  position: absolute;
  width: 84px;
  height: 119px;
  bottom: -26px;
  right: -43px;
  transform: rotate(62deg);
}

/* Footer */

footer {
  width: 100vw;
  background-color: #f8f8f8;

  padding-top: 8px;
  padding-bottom: 26px;

  text-align: center;
}

#vdsLogo2 {
  width: 113px;
  height: 142px;

  font-weight: 300;
}

#h2Vds {
  margin-top: -16px;
}

a {
  color: inherit;
}

#redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

#instagram,
#tiktok,
#facebook,
#youtube,
#telegram,
#spotify {
  width: 32px;
  height: 32px;
  margin: 0 4px;
}

#line {
  width: 80%;
  height: 5px;
}

#adress {
  font-size: 14px;

  margin: 12px 18px 0 18px;
}
